:root {
  --background: #eee;
  --top-bar: #aaa;
  --body-padding: 1em;
  --secondary-button: #cccccc;
  --button: #999;
  --bar-color: #ddd;
  --small-radius: 4px;
  --text-light: #555;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  touch-action: pan-x;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  overscroll-behavior-x: none;
}

#app {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  word-break: break-word;
  overscroll-behavior-x: none !important;
  display: flex;
  height: 100vh;
}
