:root {
  --background: #eee;
  --top-bar: #aaa;
  --body-padding: 1em;
  --secondary-button: #cccccc;
  --button: #999;
  --bar-color: #ddd;
  --small-radius: 4px;
  --text-color: #333;
  --text-light: #555;
  --mobile-size: 500px;
  --border-thin: 1px solid hsla(0, 0%, 0%, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444;
    --top-bar: #666;
    --body-padding: 1em;
    --secondary-button: #222;
    --button: #343434;
    --bar-color: #333;
    --small-radius: 4px;
    --text-color: #eee;
    --text-light: #aaa;
    --mobile-size: 500px;
    --border-thin: 1px solid hsla(0, 0%, 100%, 0.2);
  }
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  height: 100%;
  width: 100%;
  background-color: var(--background);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 'nav content';
  overflow-x: hidden;
  touch-action: pan-y;
  overflow-x: hidden;
}

#app > main {
  overflow-y: scroll;
}

@media screen and (max-width: 500px) {
  #app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
      'content'
      'nav';
  }
}
